/* Fonts */

@font-face {
    font-family: 'castoro_titlingregular';
    src: url('fonts/castorotitling-regular-webfont.woff2') format('woff2'),
         url('fonts/castorotitling-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Reset, referenced from Josh Comeau */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}


/* Main CSS */

body {
    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Left section of page */

.left-section {
    width: 40%;
    min-height: 100vh;
    background-image: url(background-image.jpg);
    background-color: rgba(32, 67, 126);
    background-size: cover;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 15%;
    padding: 10px 0px;
    background: rgba(0, 0, 0, 40%);
    position: relative;
    top: 20%;
}

h1 {
    font-size: 3.5em;
    font-family: "castoro_titlingregular", "Times New Roman", Times, serif;
    color: white;
}

#odin-logo {
    max-height: 100%;
    max-width: 100%;
}

/* Right section of page */

.right-section {
    display: flex;
    flex-direction: column;
    width: 60%;
    min-height: 100vh;
    background-color: rgb(236, 233, 230);
}

.call-to-action {
    height: 35%;
}

form {
    min-height: 27%;
    background-color: rgb(255, 255, 255);
    padding: 18px 40px 30px 40px;
    display: flex;
    gap: 15px 70px;
    flex-wrap: wrap;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 10%);
    color: rgb(61, 61, 61);
}

h2 {
    display: block;
    width: 100%;
}

.form-field {
    display: block flex;
    flex-direction: column;
}

label, input {
    display: block;
    width: 250px;
}

label {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

input {
    border-radius: 3px;
}

input:focus {

}

input:invalid {
    border: 1.5px solid rgb(209, 45, 4);
}

button {
    color: white;
    background-image: linear-gradient(rgba(32, 67, 126), rgb(37, 91, 144));
    border: none;
    border-radius: 5px;
    padding: 12px 45px;
}

a {
     color: rgba(32, 67, 126);
}

