/* Fonts */

@font-face {
    font-family: 'castoro_titlingregular';
    src: url('fonts/castorotitling-regular-webfont.woff2') format('woff2'),
         url('fonts/castorotitling-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Reset, referenced from Josh Comeau */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}


/* Main CSS */
html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(52, 52, 52);
    /* background-color: rgb(250, 248, 245); */
    background-color: black;
}

/* Left section of page */

.left-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 40%;
    height: auto;
    background-image: url(background-image.jpg);
    background-color: #20437e;
    background-size: cover;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 15%;
    padding: 10px 0px;
    background: rgba(0, 0, 0, 40%);
    position: relative;
    top: 20%;
}

h1 {
    display: flex;
    font-size: 4rem;
    font-family: "castoro_titlingregular", "Times New Roman", Times, serif;
    color: white;
}

#odin-logo {
    max-height: 100%;
    max-width: 100%;
}

.image-credit {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 5px;
    font-family:'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8rem;
    color: rgb(201, 212, 231);
}

.image-credit > a {
    color: rgb(201, 212, 231);
}


/* Right section of page */

.right-section {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    background-color: rgb(250, 248, 245);
}

.call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    min-height: 35%;
    width: 90%;
    padding: 50px 40px;
    font-size: 1.4em;
    line-height: 1;
}

form {
    display: flex;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 20px 40px 60px 40px;
    gap: 15px 70px;
    flex-wrap: wrap;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 10%);
}

h2 {
    display: block;
    width: 100%;
    font-family:'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
}

.form-field {
    display: flex;
    flex-direction: column;
    position: relative;
}

label, input {
    display: block;
    width: 250px;
}

label {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

input {
    border: 1.5px solid rgb(190, 190, 190);
    border-radius: 3px;
    padding: 2px 10px;
    font-family:'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
}

input:user-invalid {
    border: 1.5px solid rgb(209, 45, 4);
}

input:focus {
    border: 1.5px solid rgb(23, 105, 193);
    outline: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 15%);
}

input + div {
    font-size: 0.75rem;
    display: none;
    position: absolute;
    top: 100%;
}

input:focus + div {
    display: block;
}

.buttons {
    padding: 25px 40px;
}

button {
    color: white;
    background-image: linear-gradient(rgba(32, 67, 126), rgb(37, 91, 144));
    border: none;
    border-radius: 5px;
    padding: 10px 50px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 15%);
    margin-bottom: 8px;
}

button:hover {
    background-image: linear-gradient(rgb(20, 30, 103), rgb(24, 63, 125));
}

button:active {
    background-image: linear-gradient(rgb(20, 30, 103), rgb(24, 63, 125));
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 15%);
    transform: translateY(2px);
}

.buttons a {
    color: rgba(32, 67, 126);
}

@media only screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }
    .left-section {
        width: auto;
        min-height: unset;
        height: 18vh;
        background-image: linear-gradient(rgba(32, 67, 126), rgb(37, 91, 144));
        background-size: auto;
    }
    .logo {
        width: auto;
        height: 100%;
        padding: 40px 0px;
        gap: 2%;
        background: none;
        position: unset;
    }
    #odin-logo {
        max-height: unset;
        max-width: unset;
        width: 80px;
    }
    .image-credit {
        display: none;
    }

    .right-section {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        background-color: rgb(250, 248, 245);
    }
    .call-to-action {
        width: auto;
        min-height: unset;
        text-align: center;
        flex-basis: content;
        justify-content: unset;
        padding: 50px 50px;
    }
    form {
        height: 100%;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    h2 {
        text-align: center;
        margin: 0 0 10px 0;
    }
    label, input {
        width: 380px;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    button {
        padding: 10px 100px;
    }
}